# Ignore node_modules directory
/node_modules

# Ignore build output
/build
/dist

# Ignore environment files (e.g., .env.local, .env.development, .env.test, .env.production)
.env*

# Ignore npm debug logs
npm-debug.log*

# Ignore editor configuration files
.vscode/
.idea/

# Ignore operating system and temporary files
.DS_Store
Thumbs.db

# Ignore yarn's lock file
yarn.lock
